<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <form>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="user.name" placeholder="Password">
      </div>
      <div class="form-group">
        <label>Email address</label>
        <input type="email" [(ngModel)]="user.email" class="form-control" name="email"
               aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label >Password</label>
        <input type="password" [(ngModel)]="user.password" class="form-control" name="password"
               placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary" (click)="create()">Update</button>
    </form>
  </div>
</div>
